@{
    ViewData["Title"] = "Forgot Password";
}

@section Scripts {

    <script type="text/javascript">

        // Variable Declarations
        let pageIndex = 0;
        let recoveryFile = null;
        let _user_id = EMPTY_STRING;
        
        function rbRecover1_onclick() { 
            // Select the 'Recovery Method 1' option.
            document.getElementById("rbRecover1").checked = true;
            document.getElementById("rbRecover2").checked = false;
        }

        function rbRecover2_onclick() {
            // Select the 'Recovery Method 2' option.
            document.getElementById("rbRecover1").checked = false;
            document.getElementById("rbRecover2").checked = true;
        }

        // Navigate to the previous page
        function PreviousPage() { 
            if (pageIndex == 3) { 
                pageIndex -= 2;
            }
            else if (pageIndex == 4 && document.getElementById("rbRecover1").checked)
            {
                pageIndex -= 2;
            }
            else if(pageIndex == 6)
            {
                pageIndex -= 2;
            }
            else if (pageIndex > 0)
                pageIndex--;

            for (let i = 0; i < 7; i++)
                document.getElementById("page" + (i + 1)).hidden = true;

            document.getElementById("page" + (pageIndex + 1)).hidden = false;
        }

        // Navigate to the next page.
        function NextPage() { 
            if (pageIndex == 1 && !document.getElementById("rbRecover1").checked) { 
                pageIndex += 2;

                let userId = document.getElementById("txtUserID").value;

                GET_DATA2("/UserAccount/UserAccount", [["ActionName", "GetSecurityQuestion"], ["UserID", userId]], function (request) {
                    if (request.status == 1) {
                        document.getElementById("lblSecurityQuestion").innerHTML = request.response;
                    }
                });
            }
            else if(pageIndex == 2)
            {
                pageIndex += 2;
            }
            else if (pageIndex < 5)
                pageIndex++;

            for (let i = 0; i < 7; i++)
                document.getElementById("page" + (i + 1)).hidden = true;

            document.getElementById("page" + (pageIndex + 1)).hidden = false;
        }

        function UploadRecoveryFile() { 
            // Create a fileDialog element.
            let fileDialog = document.createElement("input");
            fileDialog.type = "file";

            fileDialog.onchange = function () { 
                recoveryFile = fileDialog.files[0];
            }

            // Perform a click operation.
            fileDialog.click();
        }

        function ResetPassword() { 
            // Create a new object.
            let userData = new Object();
            let fileUploaded = false;
            
            userData.UserID = document.getElementById("txtUserID").value;

            // Check if the 'Recovery Method 1' is selected
            if (document.getElementById("rbRecover1").checked) {
                userData.RecoveryMethod = 1;

                // Create a FileReader object.
                let reader = new FileReader();
                reader.readAsText(recoveryFile);

                reader.onloadend = function () { 
                    // Get the content of the reader.
                    userData.RecoveryFileContent = reader.result;
                    fileUploaded = true;
                }
            }
            else { 
                // 'Recovery Method 2' is selected.
                userData.RecoveryMethod = 2;
                userData.SecurityAnswer = document.getElementById("txtAnswer").value;
            }

            let password = document.getElementById("txtPassword").value;
            let passwordConfirmed = document.getElementById("txtConfirmPassword").value;

            // Assign data to the userData object.
            userData.NewPassword = password;
            userData.NewPasswordConfirmed = passwordConfirmed;
            
            let validation = userData.userId != EMPTY_STRING && password == passwordConfirmed && IsStrongPassword(password);

            // Check if the recovery method is '1'.
            if(userData.RecoveryMethod == 1 && validation)
            {
                // Start a new interval.
                let interval = setInterval(function () {
                    if (fileUploaded) {
                        // Post data
                        POST_DATA2("/UserAccount/UserForgotPassword", JSON.stringify(userData), [["ActionName", "ResetPassword"]], function (status) {
                            // Check if the status is OK.
                            if (status == 1) { 
                                _user_id = userData.UserID;
                                // Navigate to the next page.
                                NextPage();
                            }

                            // Check if the operation failed.
                            if (status == 2) {
                                pageIndex = 6;

                                for (let i = 0; i < 7; i++)
                                    document.getElementById("page" + (i + 1)).hidden = true;

                                document.getElementById("page" + (pageIndex + 1)).hidden = false;
                            }
                        });

                        // Stop the interval.
                        clearInterval(interval);
                    }
                }, 1);
            }
            else if(userData.RecoveryMethod == 1 && !validation)
            {
                pageIndex = 6;

                for (let i = 0; i < 7; i++)
                    document.getElementById("page" + (i + 1)).hidden = true;

                document.getElementById("page" + (pageIndex + 1)).hidden = false;
            }

            // Check if the recovery method is '2'.
            if(userData.RecoveryMethod == 2 && validation)
            {
                // Post data
                POST_DATA2("/UserAccount/UserForgotPassword", JSON.stringify(userData), [["ActionName", "ResetPassword"]], function (status) {
                    // Check if the status is OK.
                    if (status == 1) { 
                        _user_id = userData.UserID;
                        // Navigate to the next page.
                        NextPage();
                    }

                    // Check if the operation failed.
                    if(status == 2)
                    {
                        pageIndex = 6;

                        for (let i = 0; i < 7; i++)
                            document.getElementById("page" + (i + 1)).hidden = true;

                        document.getElementById("page" + (pageIndex + 1)).hidden = false;
                    }
                });
            }
            else if(userData.RecoveryMethod == 2 && !validation)
            {
                pageIndex = 6;

                for (let i = 0; i < 7; i++)
                    document.getElementById("page" + (i + 1)).hidden = true;

                document.getElementById("page" + (pageIndex + 1)).hidden = false;
            }
        }

        function UserLogin() { 
            // Redirect the user to the UserLogin page.
            window.location = "/UserAccount/UserLogin?UserID=" + _user_id;
        }
    
    </script>

}

<div align="center">
    <div style="height: 2rem"></div>
    <h3 style="background-color: white; width: fit-content">Forgot Password Wizard</h3>
    <br />

    <img src="~/images/forgot-password-icon.png" height="260" />
    <br />
    <br />

    <div align="center" style="width: 640px; background-color: rgb(50, 50, 50); color: white; border-color: rgb(35, 35, 35); border-style: solid; border-width: 2px">
        <br />
        <div align="center" style="width: 570px">
            <p>
                Welcome to the CMCS Forgot Password Wizard. Please complete all the<br />
                steps to reset your password.
            </p>
        </div>
        <br />
    </div>

    <!-- Step 1 -->
    <div id="page1" style="width: 640px; background-color: white">
        <br />
        <b>Step 1: Enter your User ID:</b><br /><br />
        <b>User ID: </b><input type="text" id="txtUserID" style="width: 200px" /><br />
        <br />
        <hr />
        <button class="button-class button-class-small2" onclick="NextPage()">Next</button>
        <br />
        <br />
    </div>

    <!-- Step 2 -->
    <div id="page2" style="width: 640px; background-color: white" hidden>
        <br />
        <b>Step 2: Choose a recovery method.</b><br /><br />
        <div style="width: fit-content; text-align: left">
        <input type="radio" id="rbRecover1" onclick="rbRecover1_onclick()" checked />Recover with a recovery file.<br />
        <input type="radio" id="rbRecover2" onclick="rbRecover2_onclick()" />Recover with a security question.
        </div>
        <br />
        <hr />
        <button class="button-class button-class-small2" onclick="PreviousPage()">Previous</button>
        <button class="button-class button-class-small2" onclick="NextPage()">Next</button>
        <br />
        <br />
    </div>

    <!-- Step 3 : Recovery File method -->
    <div id="page3" style="width: 640px; background-color: white" hidden>
        <br />
        <b>Step 3: Upload your recovery file.</b><br />
        <br />
        Recovery File: <button class="button-class button-class-small2" onclick="UploadRecoveryFile()">Upload</button><span id="lblRecoveryFileName"></span>
        <br />
        <br />
        <hr />
        <button class="button-class button-class-small2" onclick="PreviousPage()">Previous</button>
        <button class="button-class button-class-small2" onclick="NextPage()">Next</button>
        <br />
        <br />
    </div>

    <!-- Step 3 : Security Question method -->
    <div id="page4" style="width: 640px; background-color: white" hidden>
        <br />
        <b>Step 3: Answer the security question.</b><br /><br />
        <b>Security Question:</b><br />
        <span id="lblSecurityQuestion"></span><br /><br />
        Answer: <input id="txtAnswer" type="text" style="width: 200px" />
        <br />
        <br />
        <hr />
        <button class="button-class button-class-small2" onclick="PreviousPage()">Previous</button>
        <button class="button-class button-class-small2" onclick="NextPage()">Next</button>
        <br />
        <br />
    </div>

    <!-- Step 4 -->
    <div id="page5" style="width: 640px; background-color: white" hidden>
        <br />
        <b>Step 4: Enter your new password.</b><br /><br />

        <table>
            <tr>
                <th>New Password:</th>
                <td><input id="txtPassword" type="password" style="width: 200px" /></td>
            </tr>
            <tr>
                <th>Confirm New Password: </th>
                <td><input id="txtConfirmPassword" type="password" style="width: 200px" /></td>
            </tr>
        </table>
        <br />
        <hr />
        <button class="button-class button-class-small2" onclick="PreviousPage()">Previous</button>
        <button class="button-class button-class-small2" onclick="ResetPassword()">Next</button>
        <br />
        <br />
    </div>

    <!-- Step 5 -->
    <div id="page6" style="width: 640px; background-color: white" hidden>
        <br />
        <b>Your user account password has now been reset.</b><br /><br />
        <button class="button-class button-class-small" onclick="UserLogin()">Login Now</button>
        <br />
        <br />
    </div>

    <!-- Step 6 -->
    <div id="page7" style="width: 640px; background-color: white" hidden>
        <br />
        <b>Unable to recover your user account.</b><br /><br />
        <button class="button-class button-class-small2" onclick="PreviousPage()">Previous</button>
        <br />
        <br />
    </div>
</div>