@{
    ViewData["Title"] = "Cancel Request";
}

@section Scripts {

    <script type="text/javascript">

        // Variable declarations
        let queryString = window.location.search;
        let query = new URLSearchParams(queryString);
        let requestId = query.get("RequestID");

        // Assign the 'request-id' element.
        document.getElementById("request-id").innerHTML = "Request ID: " + requestId;
        
        function Proceed() { 
            // Get the data from the request.
            GET_DATA("/Request/GetRequestStatus?RequestID=" + requestId, null, function (status, response) {
                // Check if the response is 'Pending'.
                if (response == "Pending") {
                    // Post data
                    POST_DATA2("/Request/CancelRequest", null, [["ActionName", "CancelRequest"], ["RequestID", requestId]], function (status) {
                        // Check if the status is OK.
                        if (status == 1) {
                            // Redirect the user to the UserAccount page.
                            window.location = "/UserAccount/UserAccount";
                        }
                    });
                }
                else { 
                    // Redirect the user to the status page.
                    window.location = "/Home/Status?ActionName=CancelRequest&Status=Failed&Reason=NotPending";
                }
            });
        }

        function Cancel() { 
            // Redirect the user to the UserAccount page.
            window.location = "/UserAccount/UserAccount";
        }
    </script>

}

<div align="center">
    <div style="height: 3rem"></div>
    <h2 style="background-color: white; width: fit-content">Cancel Request</h2>
    <br />

    <img src="~/images/question-icon.png" height="240" />
    <div style="height: 3rem"></div>

    <div align="center" style="width: 500px; background-color: white; border-color: rgb(35, 35, 35); border-style: solid; border-width: 2px">
        <div style="height: 1rem"></div>
        <p>
            Are you sure you want to cancel this request?<br />
            <span id="request-id"></span>
        </p>
    </div>
    <br />

    <div>
        <button class="button-class button-class-small" onclick="Proceed()">Yes</button>
        <button class="button-class button-class-small" onclick="Cancel()">No</button>
    </div>

</div>

