@{
    ViewData["Title"] = "About Us";
}

<div align="center">
    <div style="height: 3rem"></div>
    <h1 style="background-color: white; width: fit-content">About Us</h1>
    <br />

    <img src="~/images/about-icon.png" height="300" />
    <div style="height: 3rem"></div>

    <div align="center" style="width: 700px; background-color: white; border-color: rgb(35, 35, 35); border-style: solid; border-width: 2px">
        <br />
        <p align="left" style="width: 600px">
            We developed the system &quot;Contract Monthly Claim System (CMCS)&quot;<br />
            to allow Independent Contractor (IC) lecturers to submit their claims with us.<br />
            What inspired us to build this system is the lack of not having enough systems for<br /> 
            any IC lecturer to submit their claims. We saw that there is a need for such a system like
            Contract Monthly Claim System (CMCS) to be developed.
        </p>
        <br />
    </div>
</div>