@{
    ViewData["Title"] = "Contact Us";
}

<div align="center">
    <div style="height: 3rem"></div>
    <h1 style="background-color: white; width: fit-content">Contact Us</h1>
    <br />
    <img src="~/images/phone-book.png" height="300" />
    <br />
    <br />

    <div style="background-color: rgb(35, 35, 35); color: white; width: 570px; border-radius: 16px">
        <br />
        <table>
            <tr>
                <th>Telephone Number:</th>
                <td style="width: 24px"></td>
                <td>0123456789</td>
            </tr>
            <tr>
                <th>Email Address:</th>
                <td style="width: 24px"></td>
                <td>help@cmcs.com</td>
            </tr>
            <tr>
                <th>Physical Address:</th>
                <td style="width: 24px"></td>
                <td>490 Century Blvd, Century City, Cape Town, 7446</td>
            </tr>
        </table>
        <br />
    </div>
</div>